body{
    background-color:#EBA259;
    color:#fff;
    font-family:Arial, Helvetica, sans-serif;
    margin:0;
    background-image: linear-gradient(to top, #EB8857, red, #C9C900)
}
#container{
    width:1100px;
    margin:0 auto;
    background-color:#EB8857;
    padding:40px;
    border-left:#EBCF75 solid 5px;
    border-right:#EBCF75 solid 5px;
    border-style:dashed;
    border-top:none;
    border-bottom:none;
}
h1{
    background-color:rgb(255, 174, 0);
    border:#fff, solid, 5px;
    border-radius:15px;
    padding: 20px;
    /* margin-bottom: 30px; */
    width: 60%;
    text-align: center;
    margin: 0px auto;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h2{
    text-align: center;
    font-size: 1.2em;
    font-style:italic;
}
h3{
    border-left: double 30px #fff;
    border-radius: 30px;
    padding-left: 25px;
    background-color:rgba(241, 174, 4, 0.633);
    width:120px;
}
p{
    line-height: 4em;
}
img{
    float: left;
    width: 250px;
    border: white solid 5px;
    border-radius: 15px;
    margin-right: 20px;
}
/* pseudoselectors */
a:link{
    color:#EB584D;
    text-decoration: none;
    font-weight: bold;
}
a:visited{
    color:violet;
}
a:hover{
    color:#fff;
    text-decoration: underline;
}
a:active{
    color:rgb(255, 42, 0);
}
/* idrules */
#pic2{
    float:right;
    margin-right:0;
    margin-left:20px;
}
/* classrules */
.highlight{
    font-weight: bold;
    background-color:yellow;
    padding: 3px;
    color:#000;
    border-radius:15px;
}
h3:hover{
    border-color:red;
}
.highlight:hover{
    background-color:white;
}
#p1{
    border: white dotted 4px;
    padding: 20px;
    background-color:#EBCF73;
    color:black;
}
#p2{
    border: white dotted 4px;
    padding: 20px;
    background-color:#EBCF73;
    color:black;
}
#p3{
    border: white dotted 4px;
    padding: 20px;
    background-color:#EBCF73;
    color:black;
}
#sidebar{
    width:none;
    float:right;
    border: 2px solid #ff7300;
    margin:20px;
    margin-top:80px;
    line-height:2em;
    position: relative;
}
#sidebar h3{
    padding: 15px;
    background:none;
    background-color:#FF9A2C;
    margin-left:20px;
}
#sidebar li{
    background-color:rgba(241, 174, 4, 0.633);
}
.dropbtn {
  background-color: rgba(241, 174, 4, 0.633);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #db801f;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content li {
  color: black;
  padding: 16px 12px;
  text-decoration: none;
  display: block;
}
.dropdown-content li:hover {
  background-color: rgba(241, 174, 4, 0.633);
}
#sidebar:hover .dropdown-content {
  display: block;
}

#sidebar:hover .dropbtn {
  background-color: rgba(163, 118, 4, 0.633);
}
@media (max-width:1200px){
    #container{
        background-color:rgb(250, 114, 1);
        width:800px;
    }
}
@media (max-width:992px){
    #container{
        width:100%;
    }
    #container, p{
        margin:0;
        padding:0;
        border:none;
    }
    h1, h2, h3, p, div{
        background-color:#ff8000 !important;
    }
    body{
        padding:20px;
    }
    p{
        text-align:justify;
    }
}
@media(max-width:768px){
    #sidebar{
        display:none;
    }
    img{
        border:none;
        float:none;
        width:100%;
    }
    h3{
        margin:10px auto;
    }
}